<!-- Content -->
<div class="moduleContentContainer" id="moduleContentContainer" #moduleContentContainer>
  <div>
    <!-- <p class="moduleContentModuleTitle">Kids</p> -->
    <h1 class="moduleContentTitle"><span>Kids</span>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://www.instagram.com/anugerah_kids">
        <img class="contactSocialIconButtonNav" src="/assets/img/instagram-circle-w.png" alt="IG">
      </a>
    </h1>
    <div class="moduleContentContact">
      <span>CP Pdm.Afriani: </span>
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+6285218853583">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://www.instagram.com/afrianisanam">
        <img class="contactSocialIconButtonNav" src="/assets/img/instagram-circle-w.png" alt="IG">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '6285218853583' + whatsapplinkText + 'Halo%20Bu%20Afriani'}}">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a>
    </div>
    <p class="moduleContentText moduleContentTextHalf">
      AnugerahKids merupakan wadah bagi anak-anak untuk memperoleh pengajaran yang benar tentang kebenaran Firman
      Allah, dengan Alkitab sebagai satu-satunya dasar pengajaran. Kami para guru melayani setiap anak dengan sepenuh
      hati dan dengan kerinduan yang besar, yaitu agar anak-anak yang hadir dapat berjumpa secara pribadi dengan Tuhan
      melalui setiap puji-pujian dan doa yang kami naikkan. Kami juga rindu mereka terus bertumbuh dan berbuah dalam
      kebenaran Firman Tuhan sehingga mereka membawa kemuliaan bagi nama Tuhan dan terus menjadi saksi-saksi Kristus
      dimanapun mereka berada, sehingga ujung bumi dapat mengenal Yesus Kristus melalui mereka.
      <br><br>
      Kelas Batita (preschool- umur 4 tahun), lantai 1<br>
      Kelas Kecil A (TK), lantai 2<br>
      Kelas Kecil B (1-2 SD), lantai 3<br>
      Kelas Tengah (3-4 SD), lantai 4<br>
      Kelas Besar (5-6 SD), lantai 4<br>
      <br>
      Ibadah pujian dan penyembahan dibagi dalam 3 bagian: Batita, Kecil A, dan gabungan (khusus kelas Kecil B - kelas
      Besar)
    </p>
  </div>
</div>

<!-- Module Title -->
<app-module-vertical-title [moduleTitle]="moduleTitle" #moduleTitleVertical></app-module-vertical-title>

<!-- Module Content Menu Links -->
<app-module-menu [moduleSectionTitle]="moduleTitle" [moduleMenuLinkList]="moduleMenuLinkList" #moduleMenuLinkContainer></app-module-menu>

<!-- Footer: Logo and Navigation -->
<app-overlay-menu (activated)="onOverlayMenuActivated($event)" [currentMenu]="currentOverlayMenu"></app-overlay-menu>