<!-- Content -->
<div class="moduleContentContainer" id="moduleContentContainer" #moduleContentContainer>
  <div>
    <h1 class="moduleContentTitle"><span>CONNECT (Youth)</span>
    </h1>
    <div class="moduleContentContact">
      <span class="moduleContentTextContactItemLine cp cpshort">CP Dante: </span>
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+6289651677355">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://www.instagram.com/daniel_talenta">
        <img class="contactSocialIconButtonNav" src="/assets/img/instagram-circle-w.png" alt="IG">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '6289651677355' + whatsapplinkText + 'Halo%20Dante%2C%20tentang%20CONNECT'}}">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a>
    </div>

    <div class="moduleContentText moduleContentTextHalf">
      CONNECT diadakan dua minggu sekali. CONNECT merupakan suatu komunitas ilahi anak muda dimana sesama anggotanya
      bisa saling menguatkan / support dalam doa, pujian dan sharing.
      <div class="moduleContentTextContactList">
        <div class="moduleContentTextContactItem">
          <span class="moduleContentTextContactItemLine">CONNECT Taman Tanah Abang</span><br>
          <span class="moduleContentTextContactItemLine cp cpshort">CP Febi: </span>
          <a class="socialIconButtonLinkNav" target="_blank" href="tel:+62818260666">
            <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
          </a>
          <a class="socialIconButtonLinkNav" target="_blank" href="https://www.instagram.com/febiolaawww">
            <img class="contactSocialIconButtonNav" src="/assets/img/instagram-circle-w.png" alt="IG">
          </a>
          <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '62818260666' + whatsapplinkText + 'Halo%20Febi%2C%20tentang%20CONNECT%20Taman%20Tanah%20Abang%20'}}">
            <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
          </a><br>
          <span class="moduleContentTextContactItemLine">Kamis, Jam 19:00 - 22:00</span><br>
          <span class="moduleContentTextContactItemLine">GKMI Anugerah Jakarta</span>
        </div>
        <div class="moduleContentTextContactItem">
          <span class="moduleContentTextContactItemLine">CONNECT Kebun Jeruk</span><br>
          <span class="moduleContentTextContactItemLine cp cpshort">CP Andhika: </span>
          <a class="socialIconButtonLinkNav" target="_blank" href="tel:+6281808240000">
            <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
          </a>
          <a class="socialIconButtonLinkNav" target="_blank" href="https://www.instagram.com/andhikachrs">
            <img class="contactSocialIconButtonNav" src="/assets/img/instagram-circle-w.png" alt="IG">
          </a>
          <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '6281808240000' + whatsapplinkText + 'Halo%20Andhika%2C%20tentang%20CONNECT%20Kebun%20Jeruk'}}">
            <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
          </a><br>
          <span class="moduleContentTextContactItemLine">Jumat, Jam 19:00 - 22:00</span><br>
          <span class="moduleContentTextContactItemLine">Apartment Puri Park View Tower E Lt. 29 No. 9</span>
        </div>
        <div class="moduleContentTextContactItem">
          <span class="moduleContentTextContactItemLine">CONNECT Karawaci</span><br>
          <span class="moduleContentTextContactItemLine cp cpshort">CP Dante: </span>
          <a class="socialIconButtonLinkNav" target="_blank" href="tel:+6289651677355">
            <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
          </a>
          <a class="socialIconButtonLinkNav" target="_blank" href="https://www.instagram.com/daniel_talenta">
            <img class="contactSocialIconButtonNav" src="/assets/img/instagram-circle-w.png" alt="IG">
          </a>
          <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '6289651677355' + whatsapplinkText + 'Halo%20Dante%2C%20tentang%20CONNECT%20Karawaci'}}">
            <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
          </a><br>
          <span class="moduleContentTextContactItemLine">Rabu, Jam 19:00 - 22:00</span><br>
          <span class="moduleContentTextContactItemLine">Food Court Supermall Karawaci</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Module Title -->
<app-module-vertical-title [moduleTitle]="moduleTitle" #moduleTitleVertical></app-module-vertical-title>

<!-- Module Content Menu Links -->
<app-module-menu [moduleSectionTitle]="moduleTitle" [moduleMenuLinkList]="moduleMenuLinkList" #moduleMenuLinkContainer></app-module-menu>

<!-- Footer: Logo and Navigation -->
<app-overlay-menu (activated)="onOverlayMenuActivated($event)" [currentMenu]="currentOverlayMenu"></app-overlay-menu>