<!-- Content -->
<div class="moduleContentContainer" id="moduleContentContainer" #moduleContentContainer>
  <div>
    <h1 class="moduleContentTitle"><span>Premium</span>
    </h1>
    <div class="moduleContentContact">
      <span>CP Herman: </span>
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+6287878991111">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '6287878991111' + whatsapplinkText + 'Halo%20Pak%20Herman'}}">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a>
    </div>

    <p class="moduleContentText moduleContentTextHalf">
      Premium Community<br>
      <br>
      Tujuan komunitas ini
      adalah untuk membina dan membangun iman kerohanian serta kebersamaan para lansia melalui persekutuan.
    </p>
  </div>
</div>

<!-- Module Title -->
<app-module-vertical-title [moduleTitle]="moduleTitle" #moduleTitleVertical></app-module-vertical-title>

<!-- Module Content Menu Links -->
<app-module-menu [moduleSectionTitle]="moduleTitle" [moduleMenuLinkList]="moduleMenuLinkList" #moduleMenuLinkContainer></app-module-menu>

<!-- Footer: Logo and Navigation -->
<app-overlay-menu (activated)="onOverlayMenuActivated($event)" [currentMenu]="currentOverlayMenu"></app-overlay-menu>
