<!-- Content -->
<div class="moduleContentContainer" id="moduleContentContainer" #moduleContentContainer>
  <div>
    <h1 class="moduleContentTitle"><span>CONNECT</span>
    </h1>
    <div class="moduleContentContact">
      <span class="moduleContentTextContactItemLine cp">CP Pdt.Febrian: </span>
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+628176904755">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://www.instagram.com/febrian_christianto">
        <img class="contactSocialIconButtonNav" src="/assets/img/instagram-circle-w.png" alt="IG">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '628176904755' + whatsapplinkText + 'Halo%20Pak%20Febri%2C%20tentang%20CONNECT%20GKMI%20Anugerah'}}">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a>
    </div>

    <div class="moduleContentText moduleContentTextHalf">
      Persekutuan tengah minggu yang diadakan di rumah jemaat yg tinggalnya dalam satu wilayah secara bergantian dengan
      tujuan utk sarana komunikasi, mengenal jemaat lebih dekat, sumber informasi, saling menguatkan, sharing
      pengalaman pribadi, saling mendoakan dan bersama sama belajar Firman Tuhan yg di disampaikan oleh anggota
      persekutuan dibawah supervisi Hamba Tuhannya
      <div class="moduleContentTextContactList">
        <div class="moduleContentTextContactItem">
          <span class="moduleContentTextContactItemLine">CONNECT Kebun Jeruk</span><br>
          <span class="moduleContentTextContactItemLine cp">CP Suliani: </span>
          <a class="socialIconButtonLinkNav" target="_blank" href="tel:+628164816799">
            <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
          </a>
          <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '628164816799' + whatsapplinkText + 'Halo%20Bu%20Suli%2C%20tentang%20CONNECT%20Kebun%20Jeruk'}}">
            <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
          </a>
          <br>
          <span class="moduleContentTextContactItemLine">Jumat, Jam 19:30</span>
        </div>
        <div class="moduleContentTextContactItem">
          <span class="moduleContentTextContactItemLine">CONNECT Sunter</span><br>
          <span class="moduleContentTextContactItemLine cp">CP Yosia Effendi:</span>
          <a class="socialIconButtonLinkNav" target="_blank" href="tel:+6281297976087">
            <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
          </a>
          <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '6281297976087' + whatsapplinkText + 'Halo%20Pak%20Yosia%20Effendi%2C%20tentang%20CONNECT%20Sunter'}}">
            <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
          </a>
          <br>
          <span class="moduleContentTextContactItemLine">Selasa, Jam 19:30</span>
        </div>
        <div class="moduleContentTextContactItem">
          <span class="moduleContentTextContactItemLine">CONNECT Taman Semanan</span><br>
          <span class="moduleContentTextContactItemLine cp">CP Agus Pamudji:</span>
          <a class="socialIconButtonLinkNav" target="_blank" href="tel:+6281210108630">
            <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
          </a>
          <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '6281210108630' + whatsapplinkText + 'Halo%20Pak%20Agus%2C%20tentang%20CONNECT%20Taman%20Semanan'}}">
            <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
          </a>
          <br>
          <span class="moduleContentTextContactItemLine">Jumat, Jam 19:00</span>
        </div>
        <div class="moduleContentTextContactItem">
          <span class="moduleContentTextContactItemLine">CONNECT Tanah Abang</span><br>
          <span class="moduleContentTextContactItemLine cp">CP Yetty Herlina:</span>
          <a class="socialIconButtonLinkNav" target="_blank" href="tel:+6287886670246">
            <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
          </a>
          <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '6287886670246' + whatsapplinkText + 'Halo%20Bu%20Yetty%2C%20tentang%20CONNECT%20Tanah%20Abang'}}">
            <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
          </a>
          <br>
          <span class="moduleContentTextContactItemLine">Selasa, Jam 19:00</span>
        </div>
        <div class="moduleContentTextContactItem">
          <span class="moduleContentTextContactItemLine">CONNECT Kebon Jahe</span><br>
          <span class="moduleContentTextContactItemLine cp">CP Adolfina Duha:</span>
          <a class="socialIconButtonLinkNav" target="_blank" href="tel:+6282125258059">
            <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
          </a>
          <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '6282125258059' + whatsapplinkText + 'Halo%20Bu%20Duha%2C%20tentang%20CONNECT%20Kebon%20Jahe'}}">
            <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
          </a>
          <br>
          <span class="moduleContentTextContactItemLine">Rabu, Jam 18:00</span>
        </div>
        <div class="moduleContentTextContactItem">
          <span class="moduleContentTextContactItemLine">CONNECT Jembatan Lima</span><br>
          <span class="moduleContentTextContactItemLine cp">CP David Kristianto:</span>
          <a class="socialIconButtonLinkNav" target="_blank" href="tel:+628156508250">
            <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
          </a>
          <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '628156508250' + whatsapplinkText + 'Halo%20Pak%20David%2C%20tentang%20CONNECT%20Jembatan%20Lima'}}">
            <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
          </a>
          <br>
          <span class="moduleContentTextContactItemLine">Kamis, Jam 19:00</span>
        </div>
        <div class="moduleContentTextContactItem">
          <span class="moduleContentTextContactItemLine">CONNECT Citra Garden</span><br>
          <span class="moduleContentTextContactItemLine cp">CP Soegijanto:</span>
          <a class="socialIconButtonLinkNav" target="_blank" href="tel:+6281905000080">
            <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
          </a>
          <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '6281905000080' + whatsapplinkText + 'Halo%20Pak%20Soegijanto%2C%20tentang%20CONNECT%20Citra%20Garden'}}">
            <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
          </a>
          <br>
          <span class="moduleContentTextContactItemLine">Senin, Jam 17:00</span>
        </div>
        <div class="moduleContentTextContactItem">
          <span class="moduleContentTextContactItemLine">CONNECT Cibubur Bekasi</span><br>
          <span class="moduleContentTextContactItemLine cp">CP Agus Rachmadi:</span>
          <a class="socialIconButtonLinkNav" target="_blank" href="tel:+628158304119">
            <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
          </a>
          <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '628158304119' + whatsapplinkText + 'Halo%20Pak%20Agus%2C%20tentang%20CONNECT%20Cibubur%20Bekasi'}}">
            <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
          </a>
          <br>
          <span class="moduleContentTextContactItemLine">Sabtu, Jam 10:00</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Module Title -->
<app-module-vertical-title [moduleTitle]="moduleTitle" #moduleTitleVertical></app-module-vertical-title>

<!-- Module Content Menu Links -->
<app-module-menu [moduleSectionTitle]="moduleTitle" [moduleMenuLinkList]="moduleMenuLinkList" #moduleMenuLinkContainer></app-module-menu>

<!-- Footer: Logo and Navigation -->
<app-overlay-menu (activated)="onOverlayMenuActivated($event)" [currentMenu]="currentOverlayMenu"></app-overlay-menu>