<div class="logoAndMenu" #logoAndMenuContainer>
  <a href="#" routerLink='/home' id="logo" class="mainLogo">
    <img src="/assets/logo-big.png" class="cu-logo" alt="Web Check In">
  </a>
  <a href="#" routerLink='/home' id="logoicon" class="mainLogoIcon">
    <img src="/assets/logo-small.png" class="cu-logo-small" alt="G">
  </a>
  <a class="menuButton" (click)="onMenuButtonClick()" #menuButton>
    Menu
    <div>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>
  <nav>
    <div id="contact">
      <div>
        <p>PT Suka Kerja Dirumah<br>
          Tapi Absen Dong<br>
          Jl. Nya Mbah Ku II/5<br>
          10101 - Jakarta Pinggir<br>
          Indonesia</p>
      </div>
      <div>
        <p class="contactTel"><a href="tel:+62 21 1111 222">(021) 1111 222</a></p>
        <p><a href="mailto:tulung@checkints.web.app">tulung@checkints.web.app</a></p>
      </div>
      <div>
          <a class="socialIconButtonLinkNav" target="_blank" href="https://teams.microsoft.com/l/chat/0/0?users=jkt.helpdesk@sumbercipta.com">
            <img class="socialIconButtonNav" src="/assets/img/teams-circle.png" alt="MSTeams">
          </a>
      </div>
    </div>
    <div id="menuListContainer">
      <ul id="menuList" class="menuList">
        <li [className]="home_class">
          <a routerLink='/home' href="#">Home</a>
        </li>
        <li [className]="kisah_class">
          <a routerLink='/home' href="#">Mulai</a>
        </li>
        <li [className]="komunitas_class">
          <a routerLink='/home' href="#">Peraturan</a>
        </li>
        <li [className]="persekutuan_class">
          <a routerLink='/home' href="#">F.A.Q</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
