<!-- Content -->
<div class="moduleContentContainer" id="moduleContentContainer" #moduleContentContainer>
  <div>
    <p class="moduleContentModuleTitle">Gembala Kami</p>
    <h1 class="moduleContentTitle">Pdt. Febrian Christianto H</h1>
    <p class="moduleContentText moduleContentTextHalf">
      Sebagai Gembala Jemaat, saya rindu GKMI Anugerah menjadi gereja yang menyadari bahwa mempersiapkan generasi
      penerus adalah tugas penting, karena tugas ini menentukan masa depan. Ada ungkapan bahwa ”masa kini ditentukan
      oleh masa lalu, sedangkan masa kini menentukan masa depan”. Masa lalu tidak akan pernah bisa diubah, tetapi
      tindakan kita di masa kini menentukan masa depan kita. Itulah sebabnya keluarga, khususnya para orang tua bersama
      gereja, harus sungguh-sungguh mempersiapkan generasi penerusnya mulai dari sekarang. Hal ini menentukan masa
      depan. Pertama, masa depan generasi penerus itu sendiri. Kedua, masa depan gereja. Ketiga, masa depan bangsa ini.
      <br>
      Siapakah pemimpin-pemimpin gereja di masa depan? Mereka adalah anak-anak kita yang saat ini masih ada di sekolah
      minggu, di kebaktian remaja dan pemuda. Sepuluh atau dua puluh tahun yang akan datang merekalah pemimpin-pemimpin
      gereja masa depan yang akan melanjutkan tongkat estafet kepemimpinan di gereja ini. Seperti kata pepatah: "Gagal
      mempersiapkan diri sama dengan mempersiapkan diri untuk gagal." Untuk gereja berlaku hal yang sama; ketika gereja
      gagal mempersiapkan masa depan dirinya itu berarti gereja sedang mempersiapkan dirinya untuk gagal di masa depan.
      Mempersiapkan next generation (generasi mendatang), berarti mempersiapkan masa depan gereja dan gereja masa
      depan, Amin.
    </p>
    <div class="bottomSocialIconButtonContainer">
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+628176904755">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://www.instagram.com/febrian_christianto">
        <img class="contactSocialIconButtonNav" src="/assets/img/instagram-circle-w.png" alt="IG">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '628176904755' + whatsapplinkText + 'Halo%20Pak%20Febri'}}">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a>
    </div>
  </div>
</div>

<!-- Module Title -->
<app-module-vertical-title [moduleTitle]="moduleTitle" #moduleTitleVertical></app-module-vertical-title>

<!-- Module Content Menu Links -->
<app-module-menu [moduleSectionTitle]="moduleTitle" [moduleMenuLinkList]="moduleMenuLinkList" #moduleMenuLinkContainer></app-module-menu>

<!-- Footer: Logo and Navigation -->
<app-overlay-menu (activated)="onOverlayMenuActivated($event)" [currentMenu]="currentOverlayMenu"></app-overlay-menu>