<!-- Content -->
<div class="moduleContentContainer" id="moduleContentContainer" #moduleContentContainer>
  <div>
    <h1 class="moduleContentTitle"><span>Excellent</span>
    </h1>
    <div class="moduleContentContact">
      <span>CP James: </span>
      <a class="socialIconButtonLinkNav" target="_blank" href="tel:+628128012320">
        <img class="contactSocialIconButtonNav" src="/assets/img/telephone-circle-w.png" alt="PH">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="https://www.instagram.com/james.dharmawan">
        <img class="contactSocialIconButtonNav" src="/assets/img/instagram-circle-w.png" alt="IG">
      </a>
      <a class="socialIconButtonLinkNav" target="_blank" href="{{whatsappLinkPrefix + '628128012320' + whatsapplinkText + 'Halo%20Pak%20James'}}">
        <img class="contactSocialIconButtonNav" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a>
    </div>

    <p class="moduleContentText moduleContentTextHalf">
      Excellent Community<br>
      <br>
      Kami memiliki panggilan sebagai orang tua
      yang memiliki kerinduan dalam memberikan teladan bagi anak-anak kami dan generasi muda. Membawa keluarga kami
      untuk memiliki persekutuan yang erat dengan Tuhan serta membagikan kabar keselamatan dan kasih Kristus di
      lingkungan kerja dan sesama kami.
    </p>
  </div>
</div>

<!-- Module Title -->
<app-module-vertical-title [moduleTitle]="moduleTitle" #moduleTitleVertical></app-module-vertical-title>

<!-- Module Content Menu Links -->
<app-module-menu [moduleSectionTitle]="moduleTitle" [moduleMenuLinkList]="moduleMenuLinkList" #moduleMenuLinkContainer></app-module-menu>

<!-- Footer: Logo and Navigation -->
<app-overlay-menu (activated)="onOverlayMenuActivated($event)" [currentMenu]="currentOverlayMenu"></app-overlay-menu>