<!-- Content -->
<div class="moduleContentContainer" id="moduleContentContainer" #moduleContentContainer>
    <div>
      <h1 class="moduleContentTitle">CONNECT</h1>
      <p class="moduleContentText moduleContentTextHalf">
        CONNECT adalah suatu komunitas (kecil) yang terdiri dari jemaat-jemaat
        GKMI Anugerah yang bersama saling mendukung untuk bertumbuh sebagai murid Kristus
        dan menjadi saksi Kristus
      </p>
    </div>
  </div>
  
  <!-- Module Title -->
  <app-module-vertical-title [moduleTitle]="moduleTitle" #moduleTitleVertical></app-module-vertical-title>
  
  <!-- Module Content Menu Links -->
  <app-module-menu [moduleSectionTitle]="moduleTitle" [moduleMenuLinkList]="moduleMenuLinkList" #moduleMenuLinkContainer></app-module-menu>
  
  <!-- Footer: Logo and Navigation -->
  <app-overlay-menu (activated)="onOverlayMenuActivated($event)" [currentMenu]="currentOverlayMenu"></app-overlay-menu>
  