<!-- Content -->
<div class="moduleContentContainer" id="moduleContentContainer" #moduleContentContainer>
  <div>
    <h1 class="moduleContentTitle">Sejarah</h1>
    <p class="moduleContentText">
      Pada awal tahun 1980, ada beberapa warga GKMI yang berasal dari Jawa Tengah dan telah sekian waktu lamanya
      berdomisili di Jakarta Barat merindukan adanya persekutuan di daerah Jakarta Barat.
      Pada tahun 1981 mulai dipikirkan untuk mengembangkan GKMI Cideng.
      Penyelenggaraan kebaktian mulai berjalan lancar dan jumlah jemaat pun terus bertambah bersamaan dengan makin
      banyaknya penduduk daerah yang bermigrasi ke Jakarta baik untuk bekerja maupun untuk studi.
      Di antara mereka terdapat beberapa jemaat GKMI dari Semarang, Kudus, Jepara, Pati, Welahan, Salatiga, Yogyakarta,
      dll.
      Mulailah dilaksanakan kegiatan-kegiatan gereja sebagaimana layaknya sebuah gereja yang sedang bertumbuh. Makin
      lama makin banyak professional muda dan mahasiswa yang menjadi jemaat GKMI Cideng, dan ini mau tak mau menebarkan
      jiwa dinamis yang senantiasa mau
      aktif, maju dan inovatif dalam perkembangan pelayanannya yang terbawa sampai sekarang. Kegiatan-kegiatan gerejawi
      lainnya seperti sekolah minggu, katekisasi, paduan suara,
      pendalaman Alkitab, baptisan, penyerahan anak, peneguhan pernikahan dan lain-lain, semua itu dilakukan dengan
      segala keterbatasan yang ada.
      Pada tahun 1985 tepatnya bulan Agustus, dibentuklah panitia pembangunan GKMI Cideng. Dan akhirnya tanggal 1 Maret
      1988, GKMI Cideng didewasakan dengan nama GKMI Anugerah dan menjadi gereja ke-22 dari Sinode Muria.
    </p>
  </div>
</div>

<!-- Module Title -->
<app-module-vertical-title [moduleTitle]="moduleTitle" #moduleTitleVertical></app-module-vertical-title>

<!-- Module Content Menu Links -->
<app-module-menu [moduleSectionTitle]="moduleTitle" [moduleMenuLinkList]="moduleMenuLinkList" #moduleMenuLinkContainer></app-module-menu>

<!-- Footer: Logo and Navigation -->
<app-overlay-menu (activated)="onOverlayMenuActivated($event)" [currentMenu]="currentOverlayMenu"></app-overlay-menu>
