<!-- Content -->
<div class="mainContentContainer" id="homePage" #mainContentContainer>
  <div>
    <p class="mainContentService">WFH?</p>
    <p><span class="mainContentServiceHour">Tetap Absen</span><br>
      mulai kerja tetap on-time
    </p>
    <p class="mainContentDummy"></p>
    <p><span class="mainContentServiceHour">Dari HP</span><br>
      tinggal klik
    </p>
  </div>
</div>

<!-- Home Menu Links -->
<div class="homeMenuLinkContainer" #homeMenuLinkContainer>
  <a routerLink='/facerecog' href="#" class="homeMenuLink">
    <div>
      <p class="homeMenuLinkText">Mulai</p>
    </div>
  </a>
  <a routerLink='/home' href="#" class="homeMenuLink">
    <div>
      <p class="homeMenuLinkText">Peraturan</p>
    </div>
  </a>
  <a routerLink='/home' href="#" class="homeMenuLink">
    <div>
      <p class="homeMenuLinkText">F.A.Q</p>
    </div>
  </a>
  <a href="#" class="homeMenuLink homeMenuLinkKontak">
    <div>
      <p class="homeMenuLinkTextKontak homeMenuLinkTextKontakJamKerjaTitle">Jam Kerja</p>
      <p class="homeMenuLinkTextKontak homeMenuLinkTextKontakJamKerjaDetail">
        <span>Senin-Jumat</span>
        <span class="homeMenuLinkTextKontakJamKerjaDetailJam">08:00-17:00</span>
        <br>
        <span>Sabtu-Minggu</span>
        <span class="homeMenuLinkTextKontakJamKerjaDetailJam">Libur</span>
      </p>
      <p class="homeMenuLinkTextKontak homeMenuLinkTextKontakTel"><a href="tel:+62 21 1111 222">(021) 1111 222</a></p>
      <p class="homeMenuLinkTextKontak homeMenuLinkTextKontakEMail"><a href="mailto:tulung@checkints.web.app">tulung@checkints.web.app</a></p>
      <p class="homeMenuLinkTextKontak homeMenuLinkTextKontakDetail">PT Suka Kerja Dirumah<br>
        Tapi Absen Dong<br>
        Jl. Nya Mbah Ku II/5<br>
        10101 - Jakarta Pinggir<br>
        Indonesia</p>
      <a class="socialIconButtonLink" target="_blank" href="https://teams.microsoft.com/l/chat/0/0?users=thomas.setiabudi@sumbercipta.com">
        <img class="socialIconButton" src="/assets/img/teams-circle.png" alt="MSTeams">
      </a>
      <a class="socialIconButtonLink" target="_blank" href="{{whatsappLinkPrefix + '6282137070888' + whatsapplinkText + 'Halo%20thomas'}}">
        <img class="socialIconButton" src="/assets/img/whatsapp-circle-w.png" alt="WA">
      </a>
    </div>
  </a>
</div>

<!-- Footer: Logo and Navigation -->
<app-overlay-menu (activated)="onOverlayMenuActivated($event)" [currentMenu]="currentOverlayMenu"></app-overlay-menu>
