<!-- Content -->
<div class="moduleContentContainer" id="moduleContentContainer" #moduleContentContainer>
  <div>
    <h1 class="moduleContentTitle">R-U-pa-M-U</h1>
    <p class="moduleContentText">
      Coba deloken
    </p>
    <a (click)="onStartFaceRecRefClick()" #startFaceRecRef style="color: white">sopo iki</a>
    <div style="position: relative" class="margin">
      <img src="/assets/sampleimg/professor2.png" style="max-width: 150px;" #refImageContainer/>
      <canvas id="refImageOverlay" style="position:absolute;top:0;left:0;" #refImageOverlay></canvas>
    </div>
    <div style="position:absolute;top:0;left:0;background-color: rgba(80,80,80,0.7); width:100%; height: 100%; display: none; align-items: center; justify-content: center; flex-direction: column;" 
       #loadingImage>
      <div style="color: white;">Tak ndownload sik yo, enteni sik... gede iki...
      </div><br/>
      <img src="/assets/img/ajax-loader.gif"/>
    </div>
  </div>
</div>

<!-- Module Title -->
<app-module-vertical-title [moduleTitle]="moduleTitle" #moduleTitleVertical></app-module-vertical-title>

<!-- Module Content Menu Links -->
<app-module-menu [moduleSectionTitle]="moduleTitle" [moduleMenuLinkList]="moduleMenuLinkList" #moduleMenuLinkContainer></app-module-menu>

<!-- Footer: Logo and Navigation -->
<app-overlay-menu (activated)="onOverlayMenuActivated($event)" [currentMenu]="currentOverlayMenu"></app-overlay-menu>
